<div class="container">
	<div class="row">
		<div class="col-md-8">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>No.</th>
						<th>Name</th>
						<th>Cuisines</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let restaurant of restaurants; let i = index"
						[routerLink]="['/photos', restaurant.restaurant.id]"
					>
						<td>{{ i + 1 }}</td>
						<td><b>{{ restaurant.restaurant.name }}</b></td>
						<td>{{ restaurant.restaurant.cuisines }}</td>
						<td>{{ restaurant.restaurant.location.address }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<form>
				<h3>Search</h3>
				<!-- <div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" name="name" 
						[(ngModel)]="name"
						[ngModelOptions]="{standalone: true}"
					>
				</div> -->
				<div class="form-group">
					<label>Category</label>
					<select name="category" class="form-control"
						[(ngModel)]="categoryId"
						[ngModelOptions]="{standalone: true}"
						(change)="onSearch()"
					>
						<option value="0" >
							All Categories
						</option>
						<option *ngFor="let category of categories" value="{{ category.id }}" >
							{{ category.name }}
						</option>
					</select>
				</div>
				<!-- <div class="form-group">
					<label>Price</label>
					<input type="number" class="form-control" name="price" 
						[(ngModel)]="price"
						[ngModelOptions]="{standalone: true}"
						(keydown)="onSearch()"
					>
				</div> -->
				<button type="button" class="btn btn-primary btn-block"
					(click)="onSearch()"
				>
					Search
				</button>
			</form>
		</div>
	</div>
</div>