<div class="row my-5">
	<div class="col-md-3">
		<!-- <img src="{{ curentRestaurant.thumb }}" alt="{{  }}"> -->
	</div>
	<div class="col-md-6">
		<ul>
			<li>
				Name: {{ curentRestaurant.name }}
			</li>
			<li>
				Currency: {{ curentRestaurant.currency }}
			</li>
			<li>
				City: {{ curentRestaurant.location.locality_verbose }}, {{ curentRestaurant.location.address }}
			</li>
			<li>
				Currency: {{ curentRestaurant.currency }}
			</li>
			<li>
				Rating:
				<span>*</span>
			</li>
		</ul>
	</div>
</div>
<hr>
<button class="btn btn-light" 
	(click)="onGetAllPhotos()"
	[routerLink]="['/photos']"
>
	See All Photos
</button><!-- 
<button class="btn btn-success float-right" 
	(click)="onCheckout()"
>
	Checkout
</button> -->